{% extends 'encyclopedia/layout.html' %}
{% load static %}
{% block title %}
    Edit | {{entry}}
{% endblock %}
{% block body %}
    <form method="POST" action="{% url 'edit' title %}">
        {% csrf_token %}
        <h2 class="text-center">Edit Contents </h2>
        <hr />
        {% if messages %}
        {% for message in messages %}
        {% if message.tags == 'error' %}
        <div class="alert alert-danger">{{message}}</div>
        {% endif %}
        {% endfor %}
        {% endif %}
        <div class="row">
            <div class="form-group col-5">
                <label for="title">Title</label>
                <input type="text" class="form-control" placeholder="Enter Title" value="{{title}}" name="title" />
            </div>
            <div class="form-group col-8">
                <label for="content">Content</label>
                <textarea name="content" class="form-control" placeholder="Enter Content"  row="2">{{content}}</textarea>
            </div>
        </div>
        <div class="form-group">
            <input type="submit" value="Update" class="btn btn-info w-25" />
        </div>
    </form>
{% endblock %}
{% block static %}
<script src="{% static 'encyclopedia/style.js' %}"></script>
{% endblock %}